body{
    background-color: rgb(20,21,26);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button{
    width: 300px;
    height: 75px;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    box-shadow:  2px 3px 10px #5f175f;
    background-color: #8f8f8f;
}